footer{
    text-align: center;
    position: fixed;
    z-index: 1000;
    padding:10px;
    left: 0;
    right: 0;
    bottom: 0;
    color: dimgray;
    background-color: white;
    opacity: 0.9;
}


