/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018/11/26, 下午 04:47:11
    Author     : Admin
*/
body{font-family: Arial,"Microsoft YaHei", "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;}
a{text-decoration:none; color: gray;}
.article{min-height:68vh;width: 85%;margin: auto}
/*header{
    background: linear-gradient(to top,rgba(93,136,144,0.9),white);
    padding: 5px 15px 0px 15px;}*/
.header a:hover{
    color:white!important; 
    transition: 0.3s!important; }

